.env*
.venv*
.DS_Store

__pycache__/
literature/
chinese_restaurants_filtered/
stats-canada/
uber-eats/

notes.txt
fsq_categories.txt

# Large files
census-data/acs2023_ethnicity_by_tract.shp
census-data/acs2023_ethnicity_by_tract.shx
census-data/acs2023_ethnicity_by_tract.dbf
census-data/acs2023_ethnicity_by_tract.prj
